<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/style.css">
    <title>Список абитуриентов</title>
</head>
<body>
    <a href="#top">ВНИЗ</a><br><br>
    <p class="inlineDisplay">
        Список абитуриентов<?= $viewHelper->space(3) ?>
        Поиск: 
        <form class="inlineDisplay" action="/search" method="POST"><input type="hidden" name="token" value="<?= $viewHelper->shield($token) ?>">
            <input name="search" maxlength="50">
            <button class="inlineDisplay">Найти</button>
        </form>
    </p>

    <p class="lineSpacing">
        Имя<?= $viewHelper->space(1) ?>
        <button type="submit" name="sort" form="sorting" value="nameUp">↑</button>
        <button type="submit" name="sort" form="sorting" value="nameDown">↓</button><?= $viewHelper->space(10) ?>
        Фамилия<?= $viewHelper->space(1) ?>
        <button type="submit" name="sort" form="sorting" value="surnameUp">↑</button>
        <button type="submit" name="sort" form="sorting" value="surnameDown">↓</button><?= $viewHelper->space(22) ?>
        Номер группы<?= $viewHelper->space(1) ?>
        <button type="submit" name="sort" form="sorting" value="groupNumberUp">↑</button>
        <button type="submit" name="sort" form="sorting" value="groupNumberDown">↓</button><?= $viewHelper->space(9) ?>
        Баллы<?= $viewHelper->space(1) ?>
        <button type="submit" name="sort" form="sorting" value="pointsUp">↑</button>
        <button type="submit" name="sort" form="sorting" value="pointsDown">↓</button>
    </p>
    <p class="lineSpacing"><sub>------------------------------------------------------------------------------------------------------------------</sub></p>

    <?php
    foreach ($matriculants as $matriculant):
        print_r(
            "<p class='lineSpacing'>" .
            $viewHelper->shield($matriculant->getName()) .
            $viewHelper->formatting($matriculant->getName(), 10, 10) .
            $viewHelper->shield($matriculant->getSurname()) .
            $viewHelper->formatting($matriculant->getSurname(), 24, 10) .
            $viewHelper->shield($matriculant->getGroupNumber()) .
            $viewHelper->formatting($matriculant->getGroupNumber(), 5, 22) .
            $viewHelper->shield($matriculant->getTotalPointsUSE()) .
            "</p>");
    endforeach;
    ?>
    <p class="lineSpacing"><sub>------------------------------------------------------------------------------------------------------------------</sub></p>
    <?php
        if (isset($pages)):
            print_r("<p class='inlineDisplay'>Страницы:");
        endif;
    ?>
        <form class="inlineDisplay" action='/home' method="POST" id='sorting'></form>
        <?php
        if (isset($pages)):
        foreach ($pages as $page):
            print_r("<input type=submit name='page' form='sorting' value=" . $viewHelper->shield($page->getPageNumber()) . ">" . $viewHelper->space(1));
        endforeach;
        endif;
        ?>
        </p>
        <a href="/form">
            <?= $viewHelper->shield($textForFormByUserStatus) ?>
        </a><br><br>
        <a href="#"> НАВЕРХ </a>
        <a name="top"></a>
</body>
</html>